@use "./variables" as *;
@use "./resets";
@use "./mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: "vazirmatn", "sans-serif";
    background-color: #555;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login {

        background-color: #fff;
        padding: 5%;
        border-radius: 10%;
        width: 400px;
        height: 500px;
        h1{
            color: blue;
        }
        .input-field{

            input{
                width: 100%;
                padding: 5px;
                border-radius: 5px;

            }
           

        }

        .password-field{
            input{
                width: 80%;
                padding: 5px;
                border-radius: 5px;   
            }
        }

    }
}